.navbar{
    background-color: black;
    border: white 4px solid;
    height: 60px;
}
.navbar ol{
    display: flex;
    justify-content: center;
    align-items:  center;
    list-style-type: none;
}
.navbar ol li{
    padding: 10px;
}
.navbar ol li a{
    color: white;
    text-decoration: none;
}